Load the data of 311 service request from 2010 to Present

In [ ]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0720EN-SkillsNetwork/labs/Module%201/data/311_Service_Requests_from_2010_to_Present_min.csv

--2022-08-06 14:06:56--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0720EN-SkillsNetwork/labs/Module%201/data/311_Service_Requests_from_2010_to_Present_min.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2545715787 (2.4G) [text/csv]
Saving to: ‘311_Service_Requests_from_2010_to_Present_min.csv’

311_Service_Request 100%[===================>]   2.37G  34.9MB/s    in 76s

2022-08-06 14:08:12 (31.9 MB/s) - ‘311_Service_Requests_from_2010_to_Present_min.csv’ saved [2545715787/2545715787]

In [ ]:
!ls # Check the file is downloaded

In [ ]:

import pandas as pd

#lacal path of data from my computer
data ="311_Service_Requests_from_2010_to_Present_min.csv"

df = pd.read_csv(data)
df.head()

,Unnamed: 0,Unique Key,Created Date,Closed Date,Complaint Type,Location Type,Incident Zip,Incident Address,Street Name,Address Type,City,Status,Resolution Description,Borough,Latitude,Longitude
0,0,45531130,02/02/2020 06:09:17 AM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10019.0,426 WEST 52 STREET,WEST 52 STREET,ADDRESS,NEW YORK,Open,The following complaint conditions are still o...,MANHATTAN,40.765132,-73.988993
1,1,45529784,02/02/2020 02:15:24 PM,NaN,UNSANITARY CONDITION,RESIDENTIAL BUILDING,11204.0,1751 67 STREET,67 STREET,ADDRESS,BROOKLYN,Open,The following complaint conditions are still o...,BROOKLYN,40.618484,-73.992673
2,2,45527528,02/02/2020 02:27:41 AM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,11372.0,87-15 37 AVENUE,37 AVENUE,ADDRESS,Jackson Heights,Open,The following complaint conditions are still o...,QUEENS,40.750269,-73.879432
3,3,45530329,02/02/2020 12:13:18 PM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10458.0,2405 SOUTHERN BOULEVARD,SOUTHERN BOULEVARD,ADDRESS,BRONX,Open,The following complaint conditions are still o...,BRONX,40.853773,-73.881558
4,4,45528814,02/02/2020 01:59:44 PM,NaN,APPLIANCE,RESIDENTIAL BUILDING,11209.0,223 78 STREET,78 STREET,ADDRESS,BROOKLYN,Open,The following complaint conditions are still o...,BROOKLYN,40.629745,-74.030533

In [ ]:
df.info() # Get the Dataframe columns details.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019843 entries, 0 to 6019842
Data columns (total 16 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   Unique Key              int64
 2   Created Date            object
 3   Closed Date             object
 4   Complaint Type          object
 5   Location Type           object
 6   Incident Zip            float64
 7   Incident Address        object
 8   Street Name             object
 9   Address Type            object
 10  City                    object
 11  Status                  object
 12  Resolution Description  object
 13  Borough                 object
 14  Latitude                float64
 15  Longitude               float64
dtypes: float64(3), int64(2), object(11)
memory usage: 734.8+ MB

In [ ]:
df.tail() # Get the last five rows

,Unnamed: 0,Unique Key,Created Date,Closed Date,Complaint Type,Location Type,Incident Zip,Incident Address,Street Name,Address Type,City,Status,Resolution Description,Borough,Latitude,Longitude
250937,250937,15630431,01/01/2010 12:00:00 AM,01/02/2010 12:00:00 AM,HEATING,RESIDENTIAL BUILDING,11226.0,22 MARTENSE STREET,MARTENSE STREET,ADDRESS,BROOKLYN,Closed,More than one complaint was received for this ...,Unspecified,40.651236,-73.958293
250936,250936,15630315,01/01/2010 12:00:00 AM,01/16/2010 12:00:00 AM,PLUMBING,RESIDENTIAL BUILDING,11106.0,31-54 29 STREET,29 STREET,ADDRESS,ASTORIA,Closed,The Department of Housing Preservation and Dev...,Unspecified,40.764035,-73.925935
250935,250935,15630099,01/01/2010 12:00:00 AM,01/01/2010 12:00:00 AM,HEATING,RESIDENTIAL BUILDING,10466.0,1405 EAST 233 STREET,EAST 233 STREET,ADDRESS,BRONX,Closed,The Department of Housing Preservation and Dev...,Unspecified,40.888997,-73.836192
250934,250934,15629899,01/01/2010 12:00:00 AM,01/16/2010 12:00:00 AM,PLUMBING,RESIDENTIAL BUILDING,11106.0,31-54 29 STREET,29 STREET,ADDRESS,ASTORIA,Closed,The Department of Housing Preservation and Dev...,Unspecified,40.764035,-73.925935
250933,250933,15629728,01/01/2010 12:00:00 AM,01/12/2010 12:00:00 AM,HEATING,RESIDENTIAL BUILDING,11210.0,3101 FOSTER AVENUE,FOSTER AVENUE,ADDRESS,BROOKLYN,Closed,The Department of Housing Preservation and Dev...,Unspecified,40.638696,-73.946969

In [ ]:
df['Incident Address'].isnull().sum() # check the total number null address

52825

In [ ]:

#Question 1
#For the complaint types that you selected in the previous module that had at least 800,000 complaints logged, which borough 
#had the highest number of complaints submitted?


treshold1=800000

#count the amount of types in the 'Complain type' row, and store them in a new dataset
df_CompType=df['Complaint Type'].value_counts()

#print the 'Complaint type' dataset that has a report numbers that are greater than 800,000. Use thetreshold dataset created 

df_treshold1=(df_CompType[(df_CompType>treshold1)])
df_treshold1=pd.DataFrame(df_treshold1)
print(df_treshold1)

                Complaint Type
HEAT/HOT WATER         1261574
HEATING                 887850

In [ ]:
#How many different Complaint Types can you find in the dataset, including duplicates entries of the same type?

total_compl= df['Complaint Type'].nunique()

print('Total different complain type: ',total_compl)

Total different complain type:  30

In [ ]:
#What is the total number of complaints that exist in the dataset?

total_compl= df['Complaint Type'].count()


print('The total amount of complaints that exist are: ',total_compl)

The total amount of complaints that exist are:  6019843

In [ ]:
#How many Elevator complaints can you find in the dataset?

Elevator_Count=df_CompType['ELEVATOR']


print('The number of elevator complaints are: ',Elevator_Count)

The number of elevator complaints are:  6725

In [ ]:
df_CompType

HEAT/HOT WATER            1261574
HEATING                    887850
PLUMBING                   711130
GENERAL CONSTRUCTION       500863
UNSANITARY CONDITION       451643
PAINT - PLASTER            361257
PAINT/PLASTER              346438
ELECTRIC                   307310
NONCONST                   260890
DOOR/WINDOW                205278
WATER LEAK                 193631
GENERAL                    151308
FLOORING/STAIRS            137402
APPLIANCE                  112831
HPD Literature Request      52824
SAFETY                      51529
OUTSIDE BUILDING             7142
ELEVATOR                     6725
Unsanitary Condition         5499
CONSTRUCTION                 5078
General                      1163
Safety                        424
STRUCTURAL                     16
Plumbing                       11
AGENCY                          9
VACANT APARTMENT                6
Outside Building                6
Appliance                       4
Electric                        1
Mold                            1
Name: Complaint Type, dtype: int64

In [ ]:
elect_comp=df_CompType['ELECTRIC']+df_CompType['Electric']

#print the total amount of electric complaints, using the new dataset
print('The amount of electric complaints are: ',elect_comp)

The amount of electric complaints are:  307311

In [ ]:

#5. Using 800,000 as a threshold, what complaint type(s) do you recommend the Department of Housing Preservation and Development 
#of New York City address first? Select all that apply.

treshold=800000


df_treshold=(df_CompType[(df_CompType>treshold)])
df_treshold=pd.DataFrame(df_treshold)
print(df_treshold)

                Complaint Type
HEAT/HOT WATER         1261574
HEATING                 887850

In [ ]:

df_treshold.reset_index(inplace=True)

In [ ]:
#What Areas Should the Agency Focus On?

print('The department should focus first on the following complaints: ',df_treshold['index'].iloc[0],'and ',
     df_treshold['index'].iloc[1])

The department should focus first on the following complaints:  HEAT/HOT WATER and  HEATING

In [ ]:
total_compl= df['Borough'].count()

#print the total amount of complaints that were stored in the dataset
print('The total amount of complaints that exist are: ',total_compl)

The total amount of complaints that exist are:  6019843

In [48]:
df['Borough'].value_counts().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of BROOKLYN         1739886
BRONX            1617956
MANHATTAN        1055225
Unspecified       873221
QUEENS            645971
STATEN ISLAND      87584
Name: Borough, dtype: int64>

In [56]:
#question 3
#For the complaint types that you selected in the previous module that had at least 800,000 complaints logged, which ZIP code 
#had the highest number of complainted submitted?


df_zip= df['Incident Zip'].value_counts()
#convert into a dataframe
df_zip=pd.DataFrame(df_zip)
#Reset the index, so it can be taken into account as a new column
df_zip=df_zip.reset_index()

zipcode_with_max_complain = df_zip.iloc[0,0]

complainNumber=df_zip.iloc[0,1]
df_zip.rename(columns={'index':'Zip Code'})
#print the answer
print('Zip code with maximum complain : ',zipcode_with_max_complain)
print('The number of complaints presented in this Zip Code was: ',complainNumber)

Zip code with maximum complain :  11226.0
The number of complaints presented in this Zip Code was:  215709

In [61]:
#Question 5
#For the complaint types that you selected in the previous module that had at least 800,000 complaints logged, 
#how many of the submitted tickets were closed?


df_status=df['Status'].value_counts()


print("Complain status :\n",df_status)

Complain status :
 Closed         5886253
Open            133220
In Progress        364
Assigned             4
Pending              2
Name: Status, dtype: int64